<h1> New Announcement </h1>
<form {{action "createAnnouncement" model on="submit"}}>
  {{input value=model.title placeholder="Title"}}
  {{input value=model.body placeholder="Body"}}
  <input type="submit" />
</form>
  <div style="color:red;">
    {{error}}
  </div>
{{outlet}}
